.app-number-input::-webkit-outer-spin-button,
.app-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.app-number-input {
  -moz-appearance: textfield;
}

.notion-logo {
  max-width: 16px;
  position: relative;
  top: -2px;
}

.notion-lms-logo {
  max-width: 16px;
}

.notion-youtube-logo {
  max-width: 16px;
}

.notion-rutube-logo {
  max-width: 16px;
  position: relative;
  top: -3px;
}
