[*]
    indent_style    = space
    indent_size     = 2
    max_line_length = 0

[*.py]
    indent_size      = 4

[*.json]
    indent_style    = space
    indent_size     = 2

[*.coffee]
    indent_style    = space
    indent_size     = 2

[*.yaml]
    indent_size = 2
