-c requirements.txt

ipython

pytest-django>=3.9
pytest-cov
pytest-deadfixtures
pytest-env
pytest-freezegun
pytest-mock
pytest-randomly
pytest-repeat
pytest-xdist
pytest-httpx


freezegun
mixer==7.0.6
requests-mock

jedi
flake8-absolute-import
flake8-bugbear
flake8-cognitive-complexity
flake8-commas
flake8-django
flake8-eradicate
flake8-fixme
flake8-isort>=4.0.0
flake8-mock
flake8-multiline-containers
flake8-mutable
flake8-pie
flake8-pep3101
flake8-print
flake8-printf-formatting
flake8-pytest
flake8-pytest-style
flake8-quotes
flake8-simplify
flake8-todo
flake8-variables-names
flake8-walrus
flake8-use-fstring

mypy
boto3-stubs
django-stubs
djangorestframework-stubs
types-babel
types-bleach
types-freezegun
types-Markdown
types-requests
types-retry
types-Pillow
types-simplejson
types-stripe
