version: '2'

services:
  postgres:
    image: ghcr.io/f213/education-dev-db
    environment:
      - POSTGRES_PASSWORD=secret
    ports:
     - 5432:5432
    volumes:
      - dev-db-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379

volumes:
  dev-db-data:
