Django>3.1
django-behaviors
django-cors-headers
django-environ
django-ipware
django-split-settings
whitenoise
psycopg2-binary

djangorestframework>=3.11.0
django-storages
drf-recaptcha
drf-jwt
django-bulk-update
django-filter
django-anymail
django-axes
django-hattori

django-healthchecks

django-markdownx
cmarkgfm
bleach

sentry-sdk

babel
boto3
PyJWT

celery
redis
flower

uwsgi
