amqp==2.5.2
appnope==0.1.0
asn1crypto==1.0.1
atomicwrites==1.3.0
attrs==19.2.0
Babel==2.7.0
backcall==0.1.0
billiard==3.6.3.0
boto3==1.10.2
botocore==1.13.2
celery==4.4.2
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cryptography==3.2
decorator==4.4.0
Django==2.2.13
django-anymail==7.1.0
django-behaviors==0.5.0
django-cors-headers==3.2.1
django-debug-toolbar==2.0
django-environ==0.4.5
django-filter==2.2.0
django-healthchecks==1.4.2
djangorestframework==3.10.3
djangorestframework==3.12.2
docutils==0.15.2
entrypoints==0.3
Faker==0.9.1
flake8==3.7.8
flake8-bugbear==19.8.0
flake8-commas==2.0.0
flake8-isort==2.7.0
flake8-print==3.1.0
flower==0.9.3
freezegun==0.3.12
idna==2.8
importlib-metadata==0.23
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
jmespath==0.9.4
kombu==4.6.8
mailjet-rest==1.3.3
mccabe==0.6.1
mixer==6.1.3
more-itertools==7.2.0
packaging==19.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.0
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.4.2
PyJWT==1.7.1
pyparsing==2.4.2
pytest==5.2.1
pytest-django==3.5.1
pytest-env==0.6.2
pytest-freezegun==0.3.0.post1
pytest-mock==1.11.1
python-dateutil==2.8.0
pytz==2019.3
redis==3.3.11
requests==2.22.0
requests-mock==1.7.0
s3transfer==0.2.1
sentry-sdk==0.14.4
six==1.12.0
sqlparse==0.3.0
testfixtures==6.10.0
text-unidecode==1.2
tornado==5.1.1
traitlets==4.3.3
urllib3==1.25.6
vine==1.3.0
wcwidth==0.1.7
whitenoise==4.1.4
zipp==0.6.0
