Django<3.3
django-behaviors
django-cors-headers
django-environ
django-ipware
django-split-settings
django-tree-queries
django-cachalot
django_redis
django-prettyjson
whitenoise
psycopg2-binary
shortuuid
retry
bcrypt

djangorestframework>=3.11.0
django-storages
drf-recaptcha
drf-jwt
django-bulk-update
django-filter
django-anymail
django-axes
django-hattori
django-debug-toolbar

django-healthchecks

django-markdownx
cmarkgfm
bleach

sentry-sdk

babel
boto3
PyJWT
urllib3>=1.26.5

celery
redis

httpx
stripe
