version: 2.1
orbs:
  docker: circleci/docker@1.5.0

defaults: &defaults
  docker:
    - image: circleci/python:3.8
      environment:
        - DATABASE_URL=sqlite:////tmp/prj.sqlite
        - CELERY_BACKEND=redis://redis:6379

    - image: circleci/redis:4.0.14-alpine3.10
      name: redis

jobs:
  build:
    <<: *defaults

    steps:
      - checkout
      - restore_cache:
          key: deps-{{ checksum "requirements.txt" }}

      - run:
          command: sudo apt-get --no-install-recommends install -y locales-all gettext

      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt

      - save_cache:
          key: deps-{{ checksum "requirements.txt" }}
          paths:
            - "venv"

      - run:
          command: mv src/app/.env.ci src/app/.env

      - run:
          name: Run linters
          command: |
            . venv/bin/activate
            make lint

      - persist_to_workspace:
          root: .
          paths:
            - ".git"
            - "src"
            - "venv"
            - ".circleci"
            - "Makefile"

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Install locale stuff
          command: sudo apt-get update && sudo apt-get --no-install-recommends install -y locales-all gettext

      - run:
          command: |
            . venv/bin/activate
            make test

  validate-docker-image:
    executor: docker/machine
    steps:
      - checkout
      - docker/check
      - docker/build:
          image: f213/pmdaily-backend
          cache_from: f213/pmdaily-backend

  deploy:
    <<: *defaults

    steps:
      - checkout
      - run:
          name: Install deploy tooling
          command: |
            export D_RELEASE=0.5.1
            wget -O -  https://raw.githubusercontent.com/f213/d/master/install.sh|sh
      - run:
          name: Update image
          command: |
            ./d add-host-key --force
            ./d update-image circle@92.53.67.149 pmdaily f213/pmdaily-backend:${CIRCLE_SHA1}

workflows:
  version: 2
  continuous-delivery:
    jobs:
      - build
      - test:
          requires:
            - build

      -  validate-docker-image:
          requires:
            - build
          filters:
            branches:
              ignore: master

      - docker/publish:
          image: f213/pmdaily-backend
          cache_from: f213/pmdaily-backend
          tag: ${CIRCLE_SHA1},latest
          requires:
            - test
          filters:
            branches:
              only: master

      - deploy:
          requires:
            - docker/publish
          filters:
            branches:
              only: master
